###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> doctrine/doctrine-migrations-bundle ###
# Ignorar archivos de migración (PHP) para que cada dev genere los suyos
/migrations/*.php
# Mantener la estructura de carpetas
!/migrations/.gitignore
###< doctrine/doctrine-migrations-bundle ###
